<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.name %></small></p>
      <hr>
		</div>

		<div class="btn btn-group btn-default pull-right">
			<% if comment.user == current_user %>
				<%= link_to '删除评论', product_comment_path(@product, comment), method: :delete, data: { confirm: '你确定要删除你的评论吗？' } %>
			<% end %>
		</div>
	</div>
