<%= simple_form_for([@product, @product.comments.build]) do |f|%>

  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
  </div>
<br>
<br>
<a href="#title" class="btn btn-primary pull-right">返回顶部</a>
  <%= f.submit "提交评论", class: "btn btn-primary" %>

<% end %>
<script>
  autosize($("#comment_body"));
</script>
