<div class="nocontent"> </div>
   <div class="welcome-content-title">
     Hot Products
   </div>
<div class="hotproductbg">

    <div class="row container">
        <div class="col-xs-6 col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="../images/dresses.jpg" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Apple iWatch 2.0</a>
                </h3>
                <div class="pi-price">$500.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
                <div class="sticker sticker-new"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="/images/fitbit-charge2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Fitbit WristBand</a>
                </h3>
                <div class="pi-price">$200.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="/images/Google-glass2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Google Glass 2.0</a>
                </h3>
                <div class="pi-price">$300.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="row container">
        <div class="col-xs-6 col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Apple iWatch 2.0</a>
                </h3>
                <div class="pi-price">$500.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
                <div class="sticker sticker-new"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="/images/fitbit-charge2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Fitbit WristBand</a>
                </h3>
                <div class="pi-price">$200.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="/images/Google-glass2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3>
                    <a href="shop-item.html">Google Glass 2.0</a>
                </h3>
                <div class="pi-price">$300.00</div>
                <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
    </div>

    <br>
    <br>

    <br>
    <br>
</div>
