<div id="page_wrapper">
  <div id="profile_image" class="col-md-6 col-xs-12 col-sm-6">
    <%= image_tag "DLJ_profile.jpg"%>
  </div>

  <div id="content" class="col-md-6 col-xs-12 col-sm-6">
    <h2>Hey, We're DLJ. </h2>
    <p>
      In the following month, we'll make a website selling Debug Skill. <br>
      All the things we do is for a competition about JDstore. <br>
      We're all ROR newbies but we're making progress everyday. <br>
      We're proud to make it avilable to move. <br>
      Welcome to click this to vote for us:
      <a href="https://fullstack.xinshengdaxue.com/works/208" target="_blank">DLJ</a>

    </p>
  </div>
</div>
