<div id="ds-wrapper">

    <div id="ds-content">

        <div class="lp-section-1">
            <div class="content-1">
                <div class="row">
                    <h2>别找了<br>你要的Debug技巧都在这里</h2>
                    <p>快速出坑 告别困境</p>
                    <div>
                        <div>
                            <a class="action-btn" href="/products">马上学习大神的经验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lp-section-2 clearfix">
            <div class="content-2">

                <h2>我们筛选出来了最好的Debug经验</h2>
                <div class="short-line"></div>
                <p>
                    学习编程最大的困难就是遇到 Bug 不会解，只能到处找各种资料，各种试各种坑，最后成功的从入门到放弃。 我们做的事情很简单，就是把有价值的大神经验买过来提供给最需要这份知识的你。
                </p>
                <!-- <img src="../images/programmingbook.jpg"> -->
            </div>
        </div>

        <div class="lp-section-3 clearfix">
            <div class="content-3">


                    <h2>人人都能Debug</h2>
                    <div class="short-line"></div>

                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='http://air-science.com/lib/sitefiles/images/uk-content/icon-difficulty-easy.png' width="100px" ; height="100px" ;>
                      <br>
                      <h3>简单易懂的教程</h3>
                      <p>全英文看不懂？我们为你买下了最好的大神Debug知识。</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='https://image.flaticon.com/icons/svg/65/65827.svg' width="100px" ; height="100px" ;>
                      <br>
                      <h3>有疑问直接提问大神</h3>
                      <p>教程看不懂？打赏大神，继续提问大神吧。</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='https://t3.ftcdn.net/jpg/01/18/68/52/240_F_118685298_kvB6pId58w9gWj86mQ8OWXmQdhC1DhPn.jpg' width="100px" ; height="100px" ;>
                      <br>
                      <h3>不定时教程加餐</h3>
                      <p>不只是一份Debug教程，不定时还会有知识加餐。</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="lp-section-4">
            <div class="content-4 clearfix">

                <h2>跟着大神一起学习</h2>
                <div class="short-line"></div>
                <div class="col-sm-6">
                  <div class="teacher-block-left">
                      <div class="top">
                          <div class="img">
                              <img src='http://placehold.it/90x90&text=No Pic"'>
                          </div>
                          <div class="name">
                              <span>助教</span>
                              <p>全栈营大神级助教</p>
                          </div>
                      </div>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              我是第一期全栈学员，很高兴能把我的debug知识分享给需要的你。
                          </p>
                      </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="teacher-block-right">
                      <div class="top">
                          <div class="img">
                              <img src='http://placehold.it/90x90&text=No Pic"'>
                          </div>
                          <div class="name">
                              <span>助教</span>
                              <p>全栈营大神级助教</p>
                          </div>
                      </div>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              我是第二期全栈学员，很高兴能把我的debug知识分享给需要的你。
                          </p>
                      </div>
                  </div>
                </div>
            </div>

        </div>

        <div class="lp-section-5 clearfix">
            <div class="content-5">
                <div class="skill-title">

                    <h2>我们的热门分类</h2>
                    <div class="short-line"></div>
                </div>
                <div class="col-sm-3">
                  <div class="skill-block">
                      <a href="/products/rails">
                        <img src='http://blog.flatironschool.com/wp-content/uploads/2015/05/ruby-on-rails.jpg?w=640' width="100px" ; height="100px" ;>
                        <br>
                        <h3>Rails</h3>
                      </a>

                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="skill-block">
                    <a href="/products/heroku">
                      <img src='https://maxcdn.icons8.com/Color/PNG/512/Logos/heroku-512.png' width="100px" ; height="100px" ;>
                      <br>
                      <h3>Heroku</h3>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="skill-block col-sm-3">
                    <a href="/products/frontend">
                      <img src='https://image.freepik.com/free-icon/code-optimization_318-49778.jpg' width="100px" ; height="100px" ;>
                      <br>
                      <h3>Frontend</h3>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="skill-block col-sm-3">
                    <a href="/products/backend">
                      <img src='http://www.bishalbudhapirthi.com/images/backendicon.png' width="100px" ; height="100px" ;>
                      <br>
                      <h3>Backend</h3>
                    </a>

                  </div>
                </div>
            </div>
        </div>

        <div class="lp-section-bottom clearfix" style="background-image: url(../images/11.jpg);">
            <div class="bottom-content">

                <div class="explore">

                    <a class="action-btn" href="/products">马上学习</a>
                </form>
            </div>
        </div>
    </div>

    <section id="contact" class="contact section">
        <div class="container">
            <h2 class="title">联系我们</h2>
            <div class="short-line"></div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <span class="fa fa-map-o" aria-hidden="true"></span>
                        </div>
                        <div class="vira-card-content">
                            <h3>地址</h3>
                            <p>
                                上海浦东新区
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                        </div>
                        <div class="vira-card-content">
                            <h3>电话</h3>
                            <p>
                                +021 6238237
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <span class="fa fa-paper-plane" aria-hidden="true"></span>
                        </div>
                        <div class="vira-card-content">
                            <h3>邮件</h3>
                            <p>
                                info@debugsharing.com
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

</div>
