<div id="ds-wrapper">

    <div id="ds-content">

        <div class="lp-section-1">
            <div class="content-1">
                <div class="row">
                    <h2>别找了<br>你要的Debug技巧都在这里</h2>
                    <p>快速出坑 告别困境</p>
                    <div>
                        <div>
                            <a class="action-btn" href="/products">马上学习大神的经验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lp-section-2 clearfix">
            <div class="content-2">

                <h2>我们筛选出来了最好的Debug经验</h2>
                <div class="short-line"></div>
                <p>
                    学习编程最大的困难就是遇到 Bug 不会解，只能到处找各种资料，各种试各种坑，最后成功的从入门到放弃。 我们做的事情很简单，就是把有价值的大神经验买过来提供给最需要这份知识的你。
                </p>
            </div>
        </div>

        <div class="lp-section-3 clearfix">
            <div class="content-3">


                    <h2>人人都能Debug</h2>
                    <div class="short-line"></div>

                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='http://air-science.com/lib/sitefiles/images/uk-content/icon-difficulty-easy.png' width="100px" ; height="100px" ;>
                      <br>
                      <h3>简单易懂的教程</h3>
                      <p>全英文看不懂？<br>我们为你买下了最好的大神Debug知识。</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='https://image.flaticon.com/icons/svg/65/65827.svg' width="100px" ; height="100px" ;>
                      <br>
                      <h3>有疑问直接提问大神</h3>
                      <p>教程看不懂？<br>打赏大神，继续提问大神吧。</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="feature-block">
                      <img src='https://t3.ftcdn.net/jpg/01/18/68/52/240_F_118685298_kvB6pId58w9gWj86mQ8OWXmQdhC1DhPn.jpg' width="100px" ; height="100px" ;>
                      <br>
                      <h3>不定时教程加餐</h3>
                      <p>不只是一份Debug教程<br>不定时还会有知识加餐。</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="lp-section-4">
            <div class="content-4 clearfix">

                <h2>跟着大神一起学习</h2>
                <div class="short-line"></div>
                <div class="col-sm-6">
                  <div class="teacher-block-left">
                      <div class="top">
                          <div class="img">
                              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-02-28-YY.jpeg' width="100px" ; height="100px">
                          </div>
                          <div class="name">
                              <span>YY老师</span>
                              <p>全栈营首席助教</p>
                          </div>
                      </div> <hr>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              在编程的世界里面，有头就有尾。
                          </p>
                      </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="teacher-block-right">
                      <div class="top">
                          <div class="img">
                              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-02-28-megy.png' width="100px" ; height="100px">
                          </div>
                          <div class="name">
                              <span>陈慧娟</span>
                              <p>全栈营大神级学员</p>
                          </div>
                      </div>
                      <hr>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              60%自己练习，30%的时间花在slack上，10%花在论坛上面。
                          </p>
                      </div>
                  </div>
                </div>
            </div>

        </div>


        <div class="lp-section-5">
            <div class="content-5 clearfix">
                <div class="user-title">
                  <h2>听听我们的老用户怎么说</h2>
                  <div class="short-line"></div>
                </div>
                <div class="col-sm-6">
                  <div class="user-say-left">
                      <div class="top">
                          <div class="img">
                              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-03-03-yammypic.png' width="100px" ; height="100px" class="img-circle">
                          </div>
                          <div class="name">
                              <span>杨子轩</span>
                              <p>@yammy</p>
                          </div>
                          <hr>
                      </div>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              刚开始学习编程的时候，我什么都不懂，遇到bug也不会解决，只好求助google，但不是每次都能搞定问题。
                              后来，朋友推荐我来逛逛debugsharing，每次都满载而归，感谢debugsharing，让我顺利度过了新手困难期。
                          </p>
                      </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="user-say-right">
                      <div class="top">
                          <div class="img">
                              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-03-03-lubiao.png' width="100px" ; height="100px" class="img-circle">
                          </div>
                          <div class="name">
                              <span>xxx</span>
                              <p>@xxx</p>
                          </div>
                          <hr>
                      </div>
                      <div class="talk">
                          <p>
                              <i class="fa fa-quote-left" aria-hidden="true"></i>
                              看教材的时候最怕只有描述没有图片说明，但在debugsharing的体验很不错，教材图文并茂，不懂得时候还可以立刻提问，彻底解决我看不懂教材的疑虑,在此郑重推荐给编程小白。
                          </p>
                      </div>
                  </div>
                </div>

            </div>

        </div>


        <div class="lp-section-bottom clearfix" style="background-image: url(../images/11.jpg);">
            <div class="bottom-content">
                <div class="explore">
                    <a class="action-btn" href="/products">马上学习 立享折扣</a>
                </div>
            </div>
        </div>

        <div class="lp-section-6" style="margin-bottom:300px;">
            <div class="content-6 clearfix">
                <div class="faq-title">
                  <h2>FAQ</h2>
                  <div class="short-line"></div>
                </div>
                <div class="faq-block" id="contact" style="padding-left: 50px;">
                    <h5>Q: 付款后，教程可以反复看多久？</h5>
                    <p>A: 随时可看。 <br> <br>我们致力于只做一件事情：分享rails debug经验，同时我们的教程也是在logdown上公开的，因此不用付款也可以看，如果教程对你有帮助，您可以扫码打赏。</p>
                    <hr>
                    <h5>Q: 如果教程看不懂，我还可以反复提问吗？</h5>
                    <p>A: 可以。<br><br>老师会在收到消息之后，有选择性的解答。</p>
                    <hr>
                    <h5>Q: 教程加餐是随机的吗？</h5>
                    <p>A: 对。<br><br>老师会搜集课程评论，如果觉得在教程的相关问题上，有必要做一些延伸性的拓展，就会加餐，随机彩蛋哦。</p>
                    <hr>
                    <h5>Q: 我可以上传教程吗？</h5>
                    <p>A: 抱歉，不可以。<br><br>为了教程的质量考虑，我们会优选教程，严格把关，因此，我们永远不会开放教程上传。</p>
                    <hr>
                    <h5>Q: 我可以推荐教程吗？</h5>
                    <p>A: 欢迎推荐。<br><br>收到推荐后，我们会审核教程，如果通过，稿费奉上。</p>
                </div>

            </div>

        </div>


    </div>
</div>
