<div id="bigwelcome">
  <div class="jumbotron col-xs-12">
    <div class="content-big">
      <div class="row">
          <h2>别找了<br>你要的Debug技巧在这里</h2>
          <p>快速出坑 告别困境</p>
          <div>
              <div>
                  <a class="action-btn" href="/products">马上学习大神的经验</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="container-fluid text-center bg-grey">
  <div class="row slideanim">
    <div class="col-sm-12">
        <div class="content">
          <h2>我们筛选出来了最好的Debug经验</h2>
          <div class="short-line"></div>
          <p>
              学习编程最大的困难就是遇到 Bug 不会解，只能到处找各种资料，各种试各种坑，最后成功的从入门到放弃。 <br>我们做的事情很简单，就是把有价值的大神经验买过来提供给最需要这份知识的你。
          </p>
        </div>
    </div>
  </div>
</div>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>人人都能Debug</h2>
  <div class="short-line"></div>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <img src='http://air-science.com/lib/sitefiles/images/uk-content/icon-difficulty-easy.png' alt="eazy icon" style="width:100px;height:100px;">
      <br>
      <h3>简单易懂的教程</h3>
      <p>全英文看不懂？<br>我们为你买下了最好的大神Debug知识。</p>
    </div>
    <div class="col-sm-4">
      <img src='https://image.flaticon.com/icons/svg/65/65827.svg' alt="question icon" style="width:100px;height:100px;">
      <br>
      <h3>有疑问直接提问大神</h3>
      <p>教程看不懂？<br>打赏大神，继续提问大神吧。</p>
    </div>
    <div class="col-sm-4">
      <img src='https://t3.ftcdn.net/jpg/01/18/68/52/240_F_118685298_kvB6pId58w9gWj86mQ8OWXmQdhC1DhPn.jpg' alt="meal icon" style="width:100px;height:100px;">
      <br>
      <h3>不定时教程加餐</h3>
      <p>不只是一份Debug教程<br>不定时还会有知识加餐。</p>
    </div>
  </div>

</div>


<div id="teachers" class="container-fluid text-center bg-grey">
  <h2>跟着大神一起学习</h2>
  <div class="short-line"></div>
  <div class="row text-center slideanim">
    <div class="col-sm-6">
      <div class="teacher-block-left">
          <div class="top">
              <div class="img">
                  <img src='http://okr0iw9h2.bkt.clouddn.com/2017-02-28-YY.jpeg' alt="YY avatar" style="width:100px;height:100px;">
              </div>
              <div class="name">
                  <span>YY老师</span>
                  <p>全栈营首席助教</p>
              </div>
          </div> <hr>
          <div class="talk">
              <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  在编程的世界里面，有头就有尾，好，让我喝口水。
              </p>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="teacher-block-right">
          <div class="top">
              <div class="img">
                  <img src='http://okr0iw9h2.bkt.clouddn.com/2017-02-28-megy.png' alt="megy avatar" style="width:100px;height:100px;">
              </div>
              <div class="name">
                  <span>Megy</span>
                  <p>全栈营大神级学员</p>
              </div>
          </div>
          <hr>
          <div class="talk">
              <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  60%自己练习，30%的时间花在slack上，10%花在论坛上面。
              </p>
          </div>
      </div>
    </div>
  </div><br>
</div>

<div id="customer" class="container-fluid text-center">
  <h2>听听我们的老用户怎么说</h2>
  <div class="short-line"></div>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <div class="img">
              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-03-03-yammypic.png' alt="yammy avatar" style="width:100px;height:100px;" class="img-circle">
          </div>
          <div class="name">
              <span>杨子轩</span>
              <p>@yammy</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="words">
            <span class="bg"></span>
            <span class="fa fa-quote-left quote quote-l iconfont"></span>
            <span class="fa fa-quote-right quote quote-r iconfont"></span>
            <div class="content">刚开始学习编程的时候，我什么都不懂，遇到bug也不会解决，只好求助google，但不是每次都能搞定问题。
            后来，朋友推荐我来逛逛debugsharing，每次都满载而归，感谢debugsharing，让我顺利度过了新手困难期。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <div class="img">
              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-04-27-Jenny.jpg' alt="yammy avatar" style="width:100px;height:100px;" class="img-circle">
          </div>
          <div class="name">
              <span>王杰尼</span>
              <p>@Jenny</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="words">
            <span class="bg"></span>
            <span class="fa fa-quote-left quote quote-l iconfont"></span>
            <span class="fa fa-quote-right quote quote-r iconfont"></span>
            <div class="content">每次debug，我都告诉自己要耐心，耐心，尝试去读懂bug，感谢debugsharing,陪伴着我debug，这样的岁月我会永远记得。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <div class="img">
              <img src='http://okr0iw9h2.bkt.clouddn.com/2017-03-03-lubiao.png' alt="lubiao avatar" style="width:100px;height:100px;" class="img-circle">
          </div>
          <div class="name">
              <span>卢标</span>
              <p>@lubiao</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="words">
            <span class="bg"></span>
            <span class="fa fa-quote-left quote quote-l iconfont"></span>
            <span class="fa fa-quote-right quote quote-r iconfont"></span>
            <div class="content">看教材的时候最怕只有描述没有图片说明，但在debugsharing的体验很不错，教材图文并茂，不懂得时候还可以立刻提问，彻底解决我看不懂教材的疑虑,在此郑重推荐给编程小白。</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="explore" class="container-fluid text-center">
      <div class="bottom-content">
          <div class="explore">
              <a class="action-btn" href="/products">马上学习 立享折扣</a>
          </div>
      </div>
  </div>

  <div id="faq" class="container-fluid text-center">
      <div class="content-6">
          <div class="faq-title">
            <h2>FAQ</h2>
            <div class="short-line"></div>
          </div>
          <div class="faq-block" id="contact">
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 付款后，教程可以反复看多久？</h5>
                </div>
                <div class="panel-body">
                  <p>A: 随时可看。 <br> <br>我们致力于只做一件事情：分享rails debug经验，如果教程对你有帮助，欢迎扫码打赏。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 如果教程看不懂，我还可以反复提问吗？</h5>
                </div>
                <div class="panel-body">
                  <p>A: 可以。<br><br>老师会在收到消息之后，有选择性的解答。<br></p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 教程加餐是随机的吗？</h5>
                </div>
                <div class="panel-body">
                  <p>A: 对。<br><br>老师会搜集课程评论，如果觉得在教程的相关问题上，有必要做一些延伸性的拓展，就会加餐，随机彩蛋哦。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 我可以上传教程吗？</h5>
                </div>
                <div class="panel-body">
                  <p>A: 抱歉，不可以。<br><br>为了教程的质量考虑，我们会优选教程，严格把关，因此，我们永远不会开放教程上传。</p>
                </div>
              </div>
            </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 如果教程看不懂，我还可以反复提问吗？<br></h5>
                </div>
                <div class="panel-body">
                  <p>A: 可以。<br><br>老师会在收到消息之后，有选择性的解答。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h5>Q: 我可以推荐教程吗？</h5>
                </div>
                <div class="panel-body">
                  <p>A: 欢迎推荐。<br><br>收到推荐后，我们会审核教程，如果通过，稿费奉上。<br></p>
                </div>
              </div>
            </div>
          </div>

      </div>

  </div>

</div>

<%= content_for :handwrite_javascript do%>
  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });

    $(window).scroll(function() {
      $(".slideanim").each(function(){
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
      });
    });
  })
  </script>
<% end %>
