<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("th").css("background-color", "#3468A5");
});
</script>

<div class="row cart-indexpage">
  <div class="col-md-12">
    <br>
    <h2 class="text-center"> 购物车 </h2>
    <div class="short-line"></div>
    <div class="pull-right btn btn-danger" style="margin-bottom: 20px;">
      <%= link_to("清空购物车", clear_cart_carts_path, :remote => true, method: :delete, data: { confirm: "你确定要清空整个购物车吗? "}) %>
    </div>

    <span id="cart_items_lists">
      <%= render "cart_items_and_total_price" %>
    </span>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn btn-primary pull-right") %>
    </div>
  </div>
</div>
