/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "social-share-button";
 @import "chosen";
 @import "md_simple_editor";


//--------  social button   ---------
 $size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

//--------  pagewrapper   ---------
 #page_wrapper {
 		padding-top: 2em;
    margin-top :5em;
    margin-bottom :5em;
    margin-left: 10em;
 		#profile_image {
 			width: 300px;
 			float: left;
      margin-top: 30px;
 			margin-right: 10em;
 			img {
 				width: 100%;
 				border-radius: 0.35em;
 			}
 		}
 		#content {
 			h1 {
 				font-weight: 500;
 			}
 			p {
 				font-size: 1.1em;
 				line-height: 1.75;
 			}
 			a {
 				color: #33acb7;
 				font-weight: 700;
 				text-decoration: none;
 			}
 		}
 	}

 //--------  comment   ---------
 #comments {
  		.comment {
  			padding: 1em 0;
  			border-top: 1px solid #E9E9E9;
  			.lead {
  				margin-bottom: 0;
  			}
  		}
  	}

 //--------  search   ---------
 #search-id {
   width: 250px;
   padding-top: 7px;
   padding-right:100px;
 }


  .btn-danger:hover {
      background-color: #009688;
      border-color: #009688;
  }


 @media (min-width: 768px) {
     .navbar {
         border-radius: 0;
     }
 }

  //--------  button   ---------
  .button {
  	outline: none;
  	background: transparent;
  	border: 1px solid #d6dce0;
  	padding: .3em 1em;
    margin-top: .6em;
  	border-radius: 1.5em;

  }


  //--------  login/signup   ---------



 .main{

   input:focus {
     border-color: red;
   }
 }

 h1.title {
 	font-size: 50px;
 	font-family: Brandon Text;
 	font-weight: 100;
 }


 .form-group{
 	margin-bottom: 0;
  margin-top: 5px;
 }


 input,
 input::-webkit-input-placeholder {
     font-size: 11px;
     padding-top: 3px;
 }

 .main-login{
   background-color: #282c34;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

 }

 .main-center{
   color: #fff;
  	margin-top: 30px;
  	margin: 0 auto;
  	max-width: 300px;
   padding: 40px 40px;

 }

 .login-button{
 	margin-top: 5px;
 }

 .login-register{
 	font-size: 11px;
 	text-align: center;
 }

 //--------  footer   ---------

 html, body{
   font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
   background-color: #ffffff;
   color: #333;
   font-size: 14px;
   letter-spacing: 0.1em;
   height: 100%;
 }

 footer{
 	background-color: #f2f2f2;
 	text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  font-size: 21px;
  p {
    color: black;
    span{
    	color: #3468A5;
    }
    a{
    	color: black;
    }
  }
 }


 /* 动态为footer添加类fixed-bottom */
.fixed-bottom {position: fixed;bottom: 0;width:100%;}


//--------  sidebar   ---------
 #sidebar {
	width: 250px;
	position: absolute;
	left: 50px;
	top: 110px;
	background: #f5f7f9;
	padding: 5em 0 0 0;
	border-right: 1px solid #d6dce0;

	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: black;
		}
  }
}

#main_content {
	margin-left: 250px;

}

//--------  gem smasonry-rails ask pin  ---------
#pins {
   margin: 0 auto;
   width: 100%;
   .box {
 	  margin: 10px;
 	  width: 225px;
 	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
 	  text-align: center;
    padding: 0;
 	  img {
 	  	max-width: 100%;
 	  	height: auto;
 	  }
 	}
 }

//--------  shortline ---------
 .short-line {

     background: #3468A5;
     border-style: none;
     border-radius: 0;
     margin: 10px auto 50px;
     z-index: 53;
     width: 50px;
     height: 3px;
     position: relative;
 }

 .product_showpage {
     padding: 30px 180px 50px;
     display: block;
    margin: 20px auto 100px;
    background-color: #fff;
    color: #333;
    min-height: 400px;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.25);
    border-radius: 1px;
 }

//--------  profile_image ---------
 .round-image-50 {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      height: 40px;
      width: 40px;
      margin-top: 5px;
      overflow: hidden;
      text-align: center;
      img { width: 100% }
  }

//--------  decorate page ---------
  .cart-indexpage .order-show-page {
    padding: 30px 180px 50px;
  }

  .message-new-page{
    padding: 30px 180px 50px;
  }
  .conversation-page{
    padding: 30px 180px 50px;
  }
  .conversation-show-page{
    padding: 30px 180px 50px;
  }
  .check_out_page{
    padding: 30px 180px 50px;
  }

  .account_orders_indexpage {
    padding: 30px -80px 50px 180px;
  }

  //-------messages---------
  .messages {
    max-height: 400px;overflow-y: auto;margin-bottom: 1em;margin-top: 1em;
  }


  //-------welcome welcome  welcome ---------
  //-------bigwelcome---------
  #bigwelcome {
    .jumbotron {
        background-image: url(../images/programmer.jpg);
        background-position: right 0%;
        border-radius: 0;
        background-size: cover;
        height: 500px;
        color: #fff;
        padding: 100px 50px;
        margin: -10px 0 0 0px;
        font-family: Montserrat, sans-serif;
        .content-big {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 700px;
            position: relative;
            text-align: right;
            // padding-top: 50px;

            h2 {
                font-size: 2em;
                color: black;
                margin-bottom: 15px;
                letter-spacing: 0.1em;
            }

            p {
                font-size: 16px;
                line-height: 1.6em;
                color: black;
                margin: 20px 0 100px;
                letter-spacing: 0.15em;
            }

                a:active,
                a:hover,
                a:link,
                a:visited {
                    text-decoration: none;
                }

                .action-btn {
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;
                    cursor: pointer;
                    margin: 0 auto;
                    -webkit-border-radius: 0.2em;
                    border-radius: 0.2em;
                    text-align: center;
                    font-size: 1.2em;
                    letter-spacing: 0.3em;
                    padding: 0.57em 1.9em;
                    margin-top: 2.85em;
                    -o-text-overflow: clip;
                    text-overflow: clip;
                    color: white;
                    background: #3468A5;
                    border: 2px solid #3468A5;
                    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);

                }
        }
    }
  }
  .container-fluid {
        padding: 60px 40px;
    }
  //-------about---------
  #about {
    min-height: 400px;

    .content {
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: 2em;
            letter-spacing: 3px;
        }

        p {
            line-height: 34px;
            color: #666;
            padding: 0 100px;
            text-align: center;
        }
    }
  }

  //---------explore----------
  #explore {
      display: block;
      background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url(../images/boat.jpg);
      background-position: center 80%;
      background-size: cover;
      margin: 50px auto 0;
      height: 200px;
      position: relative;

      .bottom-content {
          padding: 40px 20px auto;
          text-align: center;
          display: block;
          height: 200px;
          position: relative;
          text-align: center;
          margin-top: 60px;
      }

      a:active,
      a:hover,
      a:link,
      a:visited {
          text-decoration: none;
      }

      .action-btn {
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          cursor: pointer;
          margin: 0 auto;
          -webkit-border-radius: 0.2em;
          border-radius: 0.2em;
          text-align: center;
          font-size: 1.428em;
          letter-spacing: 0.3em;
          padding: 0.57em 1.9em;
          margin-top: 2.85em;
          -o-text-overflow: clip;
          text-overflow: clip;
          letter-spacing: 2px;
          color: white;
          background: #3468A5;
          border: 2px solid #3468A5;
          -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
          -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
          -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
      }
  }

  //----------fqa---------
  #fqa {
      height: 550px;
      display: block;
      background-color: #fff;
      background-position: center top;
      background-size: cover;
      text-align: center;
      margin-bottom: -100px;

      .content-6 {
          height: auto;
          padding-top: 30px;
          text-align: center;

          .faq-title {
              margin-bottom: 50px;
              letter-spacing: 3px;
              text-align: center;

          }
          .faq-block {
            padding: auto 50px;
            margin: 0 50px;
            height: 400px;
            text-align: left;
              h5 {
                  text-decoration: underline;
                  font-weight: bold;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  color: #3468A5;
              }
              p {
                  font-size: 14px !important;
              }
          }

      }
  }



  //--------  navbar   ---------
   .navbar-default {
     border-bottom-color: #d6dce0;
     margin-bottom: 0;
    //  padding-left: 195px;
   }

   .navbar-default .navbar-brand {
     color: #3468A5;
     padding: 0 40px 20px 15px;
     line-height: 30px;
  }

  //--------  flash   ---------
  .flash-gap {
    margin: 0;
  }

  body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }
    h2 {
        font-size: 2em;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .bg-grey {
        background-color: #f6f6f6;
    }
    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }
    .logo {
        color: #f4511e;
        font-size: 200px;
    }
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    .item span {
        font-style: normal;
    }
    .panel {
        border: 1px solid #3468A5;
        border-radius:0 !important;
        transition: box-shadow 0.5s;
    }
    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }
    .panel-heading {
        color: #fff !important;
        background-color: #3468A5 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .panel-footer {
        background-color: white !important;
    }
    .panel-footer h3 {
        font-size: 32px;
    }
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }
    .slideanim {visibility:hidden;}
    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }
    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateY(70%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    @media screen and (max-width: 768px) {
      .col-sm-4 {
        text-align: center;
        margin: 25px 0;
      }
      .btn-lg {
          width: 100%;
          margin-bottom: 35px;
      }
    }
    @media screen and (max-width: 480px) {
      .logo {
          font-size: 150px;
      }
    }

    .words {
        position: relative;
        margin-top: 10px;
        padding: 41px 20px 20px 25px;
        border-radius: 3px;
        color: #fff;
        line-height: 25px;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        .bg {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          opacity: 0.7;
          z-index: 0;
        }
        .quote {
          position: absolute;
          color: #aaa;
          font-size: 16px;
        }
        .quote-l {
          top: 10px;
          left: 5px;
        }
        .quote-r {
          bottom: 10px;
          right: 5px;
        }
        .content {
          position: relative;
          height: 75px;
          overflow: hidden;
          font-size: 13px;
          z-index: 0;
          color: #333;
        }
      }

      //-------gotop--------
      #gotop {
      width: 40px;
      height: 40px;
      padding: 10px;
      position: fixed;
      text-align: center;
      right: 20px;
      bottom: 120px;
      background: #3468A5;
      color: #fff;
      cursor: pointer;
      display: none; /*默认先隐藏掉*/
    }
