// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-----------logo-------
#logo {
    font-size: 26px;
    font-weight: 700;
    // 	text-transform: uppercase;
    letter-spacing: -1px;
    padding: 15px 0;

    a {
        color: #2F363E;
    }
}
//-----------landing big pic-------
.container-fluid .lp-section-1 {
    margin: 0 -15px 0px;
    min-height: 100%;
}
.container-fluid .lp-section-2  {
    margin: 0 -15px 0px;
    min-height: 100%;
}
.container-fluid .lp-section-3  {
    margin: 0 -15px 0px;
    min-height: 100%;
}
.container-fluid .lp-section-4  {
    margin: 0 -15px 0px;
    min-height: 100%;
}
.container-fluid .lp-section-bottom {
    margin: 0 -15px 0px;
    min-height: 100%;
}
.container-fluid  {

    min-height: 100%;
}




body {
    font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
    height: 100%;
}
//content
#ds-wrapper {
    background-color: #ffffff;
    padding-bottom: 70px;
}

#ds-content {
    background-color: #ffffff;
    padding-bottom: 100px;
}
//lp-section-1
.lp-section-1 {
    background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url(../images/programmer.jpg);
    background-size: cover;
    position: relative;
    display: block;
    background-position: center 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 700px;

    .content-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        min-width: 320px;
        height: 700px;
        position: relative;
        text-align: right;
        padding-top: 180px;

        h2 {
            font-size: 42px;
            color: black;
            margin-bottom: 15px;
            letter-spacing: 0.1em;
        }

        p {
            font-size: 16px;
            line-height: 1.6em;
            color: black;
            margin: 20px 0 100px;
            letter-spacing: 0.15em;
        }
    }
  }

    a:active,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
    }

    .action-btn {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        cursor: pointer;
        margin: 0 auto;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        text-align: center;
        font-size: 1.428em;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 0.57em 1.9em;
        margin-top: 2.85em;
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        letter-spacing: 2px;
        color: white;
        background: #3468A5;
        border: 2px solid #3468A5;
        -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);

    }
    //lp-section-2
    .lp-section-2 {
        background-color: #f2f2f2;
        min-height: 400px;

        .content-2 {
            padding-top: 50px;
            margin: 0 auto;
            height: 400px;
            width: 690px;
            text-align: center;

            .short-line {
                display: block;
                background: #3468A5;
                border-style: none;
                border-radius: 0;
                margin: 10px auto 50px;
                z-index: 53;
                width: 50px;
                height: 3px;
                position: relative;
            }

            h2 {
                font-size: 2em;
                padding-bottom: 20px;
                letter-spacing: 3px;
            }

            p {
                line-height: 34px;
                color: #666;
                padding: 0 50px;
                text-align: center;
            }
        }
    }
    //lp-section-3
    .lp-section-3 {
        min-width: 100%;
        height: 550px;
        display: block;
        width: 100%;
        height: 550px;
        min-width: 960px;
        background: #fff;
        background-position: center top;
        background-size: cover;
        text-align: center;

        .content-3 {
          padding-top: 50px;
          margin: 0 auto;
          max-width: 100%;
          text-align: center;

                .short-line {
                    display: block;
                    background: #3468A5;
                    border-style: none;
                    border-radius: 0;
                    margin: 10px auto 50px;
                    z-index: 53;
                    width: 50px;
                    height: 3px;
                    position: relative;
                }

                h2 {
                    font-size: 2em;
                }


            .feature-block {
              display: block;
              border-style: none;
              border-radius: 0;
              width: 430px;
              position: relative;
              margin: 20px 15px 0;
              float: left;



                h3 {
                    font-size: 1.2em;
                    line-height: 28px;
                    margin-top: 20px;
                    color: #333;
                }

                p {
                    line-height: 24px;
                    width: 260px;
                    margin-top: 30px;
                    margin-left: 20px;
                    font-size: 1em;
                    color: #666;
                    text-align: center;
                }
            }
        }
    }
    //lp-section-4
    .lp-section-4 {
      background-color: #f2f2f2;

        height: 550px;
        min-width: 100%;

        .content-4 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            height: auto;
            padding: 30px 0;
            position: relative;
            text-align: center;

            .short-line {
                display: block;
                background: #3468A5;
                border-style: none;
                border-radius: 0;
                margin: 10px auto 50px;
                z-index: 53;
                width: 50px;
                height: 3px;
                position: relative;
                margin-bottom: 80px;
            }

            h2 {
                font-size: 2em;
                text-align: center;
                padding-bottom: 40px;
                letter-spacing: 3px;
            }

            .teacher-block-left,
            .teacher-block-right {
                padding-left: 0;
                float: none;
                width: 400px;
                margin: 0 auto;

                .top {
                    margin: 0 auto;
                    width: 100%;

                    .img {
                        float: left;
                        width: 90px;
                        text-align: center;
                    }

                    .name {
                        float: left;
                        width: auto;
                        padding: 0 0 0 20px;

                        span {
                            font-size: 1.15em;
                            line-height: 22px;
                            font-weight: bold;
                        }

                        p {
                            padding-top: 13px;
                            font-size: 1em;
                            line-height: 25px;
                            color: #666;
                        }
                    }
                }

                .talk {
                    padding-top: 5px;
                    display: block;
                    clear: both;
                    width: 100%;
                    line-height: 24px;
                }
            }
        }
    }
    //lp-section-5
    .lp-section-5 {
        min-width: 100%;
        height: 550px;
        display: block;
        width: 100%;
        height: 550px;
        min-width: 960px;
        background: #fff;
        background-position: center top;
        background-size: cover;
        text-align: center;

        .content-5 {
            width: 100%;
            height: auto;
            padding-top: 30px;
            text-align: center;

            .skill-title {
                margin-bottom: 50px;
                letter-spacing: 3px;
                text-align: center;

                .short-line {
                    display: block;
                    background: #3468A5;
                    border-style: none;
                    border-radius: 0;
                    margin: 10px auto 50px;
                    z-index: 53;
                    width: 50px;
                    height: 3px;
                    position: relative;
                }

                h2 {
                    font-size: 2em;
                }
            }

            .skill-block {
              display: block;
              border-style: none;
              border-radius: 0;
              width: 300px;
              position: relative;

              float: left;



                h3 {
                    font-size: 1.2em;
                    line-height: 28px;
                    margin-top: 20px;
                    color: #333;
                }

                p {
                    line-height: 24px;
                    width: 260px;
                    margin-top: 30px;
                    margin-left: 20px;
                    font-size: 1em;
                    color: #666;
                    text-align: center;
                }
            }
        }
    }
    //.lp-section-bottom
    .lp-section-bottom {
        display: block;
        background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url(/assets/lp-bg-ee2662ec003744ab101741975f50086c5fcdfffe81d423bd8b2c2516561ab4ff.jpg);
        background-position: center 80%;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;

        min-width: 960px;
        height: 200px;
        position: relative;

        .bottom-content {
            max-width: 100%;
            height: auto;
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 700px;
            height: 200px;
            position: relative;
            text-align: center;
            padding-top: 40px;
            margin-top: 40px;
        }

        a:active,
        a:hover,
        a:link,
        a:visited {
            text-decoration: none;
        }

        .action-btn {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            cursor: pointer;
            margin: 0 auto;
            -webkit-border-radius: 0.2em;
            border-radius: 0.2em;
            text-align: center;
            font-size: 1.428em;
            letter-spacing: 0.3em;
            padding: 0.57em 1.9em;
            margin-top: 2.85em;
            text-align: center;
            -o-text-overflow: clip;
            text-overflow: clip;
            letter-spacing: 2px;
            color: white;
            background: #3468A5;
            border: 2px solid #3468A5;
            -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
            -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
            -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
            transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
}
        }

    //social icons
    .social-icons ul {
        text-align: center;
        padding-left: 0;
        display: inline-block;
    }

    .social-icons ul a li {
        display: inline-block;
        list-style-type: none;
        border: 2px solid #ffffff;
        margin-right: 10px;
        background-color: #ffffff;
        color: #51c2b9;
        font-size: 18px;
        line-height: 32px;
        width: 36px;
    }

    .social-icons ul a li:last-child {
        margin-right: 0;
    }

    .social-icons ul a:hover li {
        color: #ffffff;
        background-color: #51c2b9;
    }
    //contactinfo
    section {
        text-align: center;
        margin-top: 100px;

        .short-line {
            display: block;
            background: #3468A5;
            border-style: none;
            border-radius: 0;
            margin: 10px auto 50px;
            z-index: 53;
            width: 50px;
            height: 3px;
            position: relative;
        }
    }

    .contact .vira-card {
        background-color: #f8f8f8;
        padding: 35px 0;
        transition: all 0.3s ease-in-out;
        margin-bottom: 45px;
    }

    .contact .vira-card:hover {
        box-shadow: 0 4px 2px rgba(17, 17, 17, 0.3);
    }

    .contact .vira-card .vira-card-header {
        margin-bottom: 15px;
        font-size: 21px;
        color: #3468A5;
    }

    .contact .vira-card .vira-card-content h3 {
        letter-spacing: 2px;
        margin-bottom: 45px;
    }

    .contact .vira-card .vira-card-content h3:after {
        top: 40px;
    }

    .contact .vira-card .vira-card-content p {
        font-size: 18px;
    }
