//-------bigwelcome---------
#bigwelcome {
  .jumbotron {
      background-image: url(../images/programmer.jpg);
      border-radius: 0;
      background-size: cover;
      height: 500px;
      color: #fff;
      margin-top: -10px;
      padding: 100px 50px;
      font-family: Montserrat, sans-serif;
      .content-big {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 1200px;
          min-width: 320px;
          height: 700px;
          position: relative;
          text-align: right;
          // padding-top: 50px;

          h2 {
              font-size: 2em;
              color: black;
              margin-bottom: 15px;
              letter-spacing: 0.1em;
          }

          p {
              font-size: 16px;
              line-height: 1.6em;
              color: black;
              margin: 20px 0 100px;
              letter-spacing: 0.15em;
          }

              a:active,
              a:hover,
              a:link,
              a:visited {
                  text-decoration: none;
              }

              .action-btn {
                  -webkit-box-sizing: content-box;
                  -moz-box-sizing: content-box;
                  box-sizing: content-box;
                  cursor: pointer;
                  margin: 0 auto;
                  -webkit-border-radius: 0.2em;
                  border-radius: 0.2em;
                  text-align: center;
                  font-size: 1.428em;
                  text-transform: uppercase;
                  letter-spacing: 0.3em;
                  padding: 0.57em 1.9em;
                  margin-top: 2.85em;
                  -o-text-overflow: clip;
                  text-overflow: clip;
                  color: white;
                  background: #3468A5;
                  border: 2px solid #3468A5;
                  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
                  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);

              }
      }
  }
}


//-------about---------
#about {
  min-height: 400px;

  .content {
      padding-top: 30px;
      margin: 0 auto;
      text-align: center;

      h2 {
          font-size: 2em;
          letter-spacing: 3px;
      }

      p {
          line-height: 34px;
          color: #666;
          padding: 0 100px;
          text-align: center;
      }
  }
}

//---------explore----------
#explore {
    display: block;
    background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url(../images/boat.jpg);
    background-position: center 80%;
    background-size: cover;
    margin: 50px auto 0;
    height: 200px;
    position: relative;

    .bottom-content {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        position: relative;
        text-align: center;
        padding-top: 40px;
        margin-top: 40px;
    }

    a:active,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
    }

    .action-btn {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        cursor: pointer;
        margin: 0 auto;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        text-align: center;
        font-size: 1.428em;
        letter-spacing: 0.3em;
        padding: 0.57em 1.9em;
        margin-top: 2.85em;
        -o-text-overflow: clip;
        text-overflow: clip;
        letter-spacing: 2px;
        color: white;
        background: #3468A5;
        border: 2px solid #3468A5;
        -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
        transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    }
}

//----------fqa---------
#fqa {
    height: 550px;
    display: block;
    background-color: #fff;
    background-position: center top;
    background-size: cover;
    text-align: center;

    .content-6 {
        height: auto;
        padding-top: 30px;
        text-align: center;

        .faq-title {
            margin-bottom: 50px;
            letter-spacing: 3px;
            text-align: center;

        }
        .faq-block {
          padding: auto 50px;
          margin: 0 50px;
          height: 400px;
          text-align: left;
            h5 {
                text-decoration: underline;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #3468A5;
            }
            p {
                font-size: 14px !important;
            }
        }

    }
}

//-----------landing big pic-------
.container-fluid .jumbotron {
    margin: 0 -15px 0;
    min-height: 100%;
    border-radius: 0;
}
.container-fluid #about {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid #services  {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid #teachers   {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid #customers  {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid #explore   {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid #fqa  {
    margin: 0 -15px 0;
    min-height: 100%;
}
.container-fluid  {

    min-height: 100%;
}

//--------  navbar   ---------
 .navbar-default {
   border-bottom-color: #d6dce0;
   margin-bottom: 0;
  //  padding-left: 195px;
 }

 .navbar-default .navbar-brand {
   color: #3468A5;
   padding: 0 40px 20px 15px;
   line-height: 30px;
}

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 2em;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #3468A5;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-heading {
      color: #fff !important;
      background-color: #3468A5 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  .words {
      position: relative;
      margin-top: 10px;
      padding: 41px 20px 20px 25px;
      border-radius: 3px;
      color: #fff;
      line-height: 25px;
      text-align: left;
      font-weight: bold;
      overflow: hidden;
      .bg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.7;
        z-index: 0;
      }
      .quote {
        position: absolute;
        color: #aaa;
        font-size: 16px;
      }
      .quote-l {
        top: 10px;
        left: 5px;
      }
      .quote-r {
        bottom: 10px;
        right: 5px;
      }
      .content {
        position: relative;
        height: 75px;
        overflow: hidden;
        font-size: 13px;
        z-index: 0;
        color: #333;
      }
    }

    //-------gotop--------
    #gotop {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: fixed;
    text-align: center;
    right: 20px;
    bottom: 20px;
    background: #3468A5;
    color: #fff;
    cursor: pointer;
    display: none; /*默认先隐藏掉*/
  }
