
<div class="row" style="margin-top: 50px; margin-left: 60px; margin-bottom: 100px;">
  <div id="sidebar">

  		<ul>
  			<li class="category">
          <h3>热门分类</h3>
          <div class="short-line" style="margin-left: 115px;"></div>
        </li>
        <h4>
          <a href="/products/rails">
            Rails
            <hr>
          </a>
          <a href="/products/heroku">
            Heroku
            <hr>
          </a>
          <a href="/products/frontend">
            Frontend
            <hr>
          </a>
          <a href="/products/backend">
            Backend
            <hr>
          </a>
          <a href="/products/others">
            其他
            <hr>
          </a>
        </h4>
  		</ul>

  </div>

  <div id="main_content">
    <div id="pins" class="transitions-enabled">
      <%= render :partial => "products_items", :collection => @products, :as => :product %>
    </div>
    <div class="text-center">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<%= content_for :handwrite_javascript do%>
  <script>
    $(function(){
        var $pins = $('#pins');
        $pins.imagesLoaded(function(){
          // $box.fadeIn();
          $pins.masonry({
            itemSelector : '.box',
            isFitWidth: true,
          });
        });
      });
  </script>
<% end %>
