<div data-reactid=".1auuy2lkwsg.0.0.0.0">

    <div id="main-content" class="category-nav" role="main" aria-label="Main Content">
        <h1>Women</h1>

        <section class="tile no-margin column-entire-width">
            <div class="tile-media" style="left: -1370px">

                <a href="womens-clothing?campaign=0206FTRomanceSport&amp;mcamp=4114&amp;cm_sp=merch-_-multi_0206FTRomanceSport_4114-_-landingpagewmnP01_image" title="CLOTHING">

                    <img
                        alt="Spring trends: the mix is it."
                        data-mobile-height="789"
                        data-mobile-src="http://n.nordstrommedia.com/id/c2b27f10-be61-428b-ab78-858183e2fe23.jpeg?w=640&amp;h=789"
                        data-mobile-width="640"
                        height="1100"
                        src="http://n.nordstrommedia.com/id/494c00d2-0811-4bb9-b6f0-bd166ff61a74.jpeg?w=2560&amp;h=1100"
                        width="2560"/>
                </a>
            </div>

            <div class="copy-set style-light justify-left content-overlay" style="left: 51.84%; top: 45.73%; width: 32.24%;">
                <div class="link-list-wrapper">

                    <ul class="link-list">
                        <li class="">

                            <a href="womens-clothing?campaign=0206FTRomanceSport&amp;mcamp=4114&amp;cm_sp=merch-_-multi_0206FTRomanceSport_4114-_-landingpagewmnP01_shop" title="CLOTHING">CLOTHING</a>
                        </li>
                        <li class="delimited">

                            <a href="womens-shoes?campaign=0206FTRomanceSport1&amp;mcamp=4114&amp;cm_sp=merch-_-multi_0206FTRomanceSport_4114-_-landingpagewmnP01_shop2" title="SHOES">SHOES</a>
                        </li>
                        <li class="delimited">

                            <a href="womens-handbags?campaign=0206FTRomanceSport&amp;mcamp=4114&amp;cm_sp=merch-_-multi_0206FTRomanceSport_4114-_-landingpagewmnP01_shop3" title="HANDBAGS">HANDBAGS</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="tile no-margin column-entire-width">
            <div class="tile-media" style="left: -660px">

                <a href="diane-von-furstenberg-womens?campaign=0206NewNow1&amp;mcamp=4113&amp;cm_sp=merch-_-multi_0206FTNewNow_4113-_-landingpagewmnP01_image" title="DIANE VON FURSTENBERG">

                    <img
                        alt="New now."
                        data-mobile-height="607"
                        data-mobile-src="http://n.nordstrommedia.com/id/1a38b347-1e8e-452a-ae25-8ee9c8484404.jpeg?w=640&amp;h=607"
                        data-mobile-width="640"
                        height="480"
                        src="http://n.nordstrommedia.com/id/8af357ef-1e10-45e4-aaee-dffcf4fd528f.jpeg?w=1140&amp;h=480"
                        width="1140"/></a>
            </div>

            <a class="link-overlay" href="glassing-womens?campaign=0206NewNow&amp;mcamp=4113&amp;cm_sp=merch-_-multi_0206FTNewNow_4113-_-landingpagewmnP01_image" style="left: 26.5%; top: -11%; width: 73.5%; height: 83%;" title="GLASSING"></a>
            <div class="copy-set style-dark justify-center content-overlay" style="left: 18%; top: 89.67%; width: 40%;">
                <div class="link-list-wrapper">

                    <ul class="link-list">
                        <li class="">

                            <a href="new-and-now?campaign=0206NewNowdlp&amp;mcamp=4113&amp;cm_sp=merch-_-multi_0206FTNewNow_4113-_-landingpagewmnP01_shop" title="READ + SHOP THE EDIT">READ + SHOP THE EDIT</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="tile-set row-entire-width no-margin tile-set-staggered tile-set-entire-width-staggered">
            <section class="tile-section no-margin staggered">

                <section class="tile no-margin">
                    <div class="tile-media">

                        <a href="womens-dresses-shop?campaign=0206womensdlpp03" title="DRESSES">

                            <img
                                alt="The dresses that matter now. "
                                data-mobile-height="562"
                                data-mobile-src="http://n.nordstrommedia.com/id/4edd79d1-69ed-47d7-b9d1-878fb43ace63.jpeg?w=640&amp;h=562"
                                data-mobile-width="640"
                                height="949"
                                src="http://n.nordstrommedia.com/id/4bc8b6f6-8447-4a62-886f-7c0dabc48fac.jpeg?w=680&amp;h=949"
                                width="680"/></a>
                    </div>

                    <div class="copy-set style-dark justify-center content-overlay" style="left: 30.62%; top: 89.67%; width: 50.18%;">
                        <div class="link-list-wrapper">

                            <ul class="link-list">
                                <li class="">

                                    <a href="womens-dresses-shop?campaign=0206womensdlpp03" title="DRESSES">DRESSES</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>

            </section>
            <section class="tile-section no-margin staggered">

                <section class="tile no-margin">
                    <div class="tile-media">

                        <a href="womens-sandals-shop?campaign=0206womensdlpp04" title="SANDALS">

                            <img
                                alt="Spring starts with the shoes. "
                                data-mobile-height="594"
                                data-mobile-src="http://n.nordstrommedia.com/id/d75729e4-5254-43f5-968f-2a34a4644187.jpeg?w=640&amp;h=594"
                                data-mobile-width="640"
                                height="450"
                                src="http://n.nordstrommedia.com/id/e61ec284-3dcb-4e9b-bbc8-7a7cb80a2dee.jpeg?w=460&amp;h=450"
                                width="460"/></a>
                    </div>

                    <div class="copy-set style-dark justify-center content-overlay" style="left: 2.26%; top: 89.11%; width: 73.74%;">
                        <div class="link-list-wrapper">

                            <ul class="link-list">
                                <li class="">

                                    <a href="womens-sandals-shop?campaign=0206womensdlpp04" title="SANDALS">SANDALS</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>

                <section class="tile no-margin">
                    <div class="tile-media">

                        <a href="necklaces?campaign=0206womensdlpp05" title="NECKLACES">

                            <img
                                alt="The accessory list: choker update. "
                                data-mobile-height="594"
                                data-mobile-src="http://n.nordstrommedia.com/id/730b608b-2917-4162-b2c8-878205a110bb.jpeg?w=640&amp;h=594"
                                data-mobile-width="640"
                                height="499"
                                src="http://n.nordstrommedia.com/id/1ecfa82b-91cb-415d-b182-277f15de941a.jpeg?w=460&amp;h=499"
                                width="460"/></a>
                    </div>

                    <div class="copy-set style-dark justify-center content-overlay" style="left: 20.09%; top: 80.76%; width: 37.83%;">
                        <div class="link-list-wrapper">

                            <ul class="link-list">
                                <li class="">

                                    <a href="necklaces?campaign=0206womensdlpp05" title="NECKLACES">NECKLACES</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>

            </section>

        </section>

        <section class="tile no-margin column-entire-width mobile-hidden app-hidden">
            <div class="tile-media" style="left: -560px">

                <img alt="" height="150" src="http://n.nordstrommedia.com/id/0d3856fe-7e4f-4449-adc7-4ade4c9c8e94.png?w=940&amp;h=150" width="940"/>
            </div>

        </section>

        <section class="tile no-margin column-entire-width">
            <div class="tile-media" style="left: -1370px">

                <a href="vacation-destination-view-all?campaign=0130vacationprettypinup3&amp;mcamp=4081&amp;cm_sp=merch-_-multi_0130vacationprettypinup_4081-_-landingpagewmn_shopall" title="VACATION">

                    <img
                        alt="Paradise bound: vacation essentials."
                        data-mobile-height="952"
                        data-mobile-src="http://n.nordstrommedia.com/id/bf42014e-34eb-403a-8b63-02c519c697c5.jpeg?w=640&amp;h=952"
                        data-mobile-width="640"
                        height="804"
                        src="http://n.nordstrommedia.com/id/6af7998b-16d6-4326-8d83-ea206bd58627.jpeg?w=2560&amp;h=804"
                        width="2560"/></a>
            </div>

            <div class="copy-set style-dark justify-center content-overlay" style="left: 25.68%; top: 96.93%; width: 24.25%;">
                <div class="link-list-wrapper">

                    <ul class="link-list">
                        <li class="">

                            <a href="vacation-destination-view-all?campaign=0130vacationprettypinup3&amp;mcamp=4081&amp;cm_sp=merch-_-multi_0130vacationprettypinup_4081-_-landingpagewmn_shopall" title="VACATION">VACATION</a>
                        </li>
                        <li class="delimited">

                            <a href="vacation-destination?campaign=0130vacationprettypinup3&amp;mcamp=4081&amp;cm_sp=merch-_-multi_0130vacationprettypinup_4081-_-landingpagewmn_guide" title="OUR GUIDE">OUR GUIDE</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="tile no-margin column-entire-width mobile-hidden app-hidden">
            <div class="tile-media" style="left: -560px">

                <img alt="" height="150" src="http://n.nordstrommedia.com/id/0d3856fe-7e4f-4449-adc7-4ade4c9c8e94.png?w=940&amp;h=150" width="940"/>
            </div>

        </section>

        <script type="text/javascript" id="recs-script-WOM1">
            (function (global) {
                global.nord.config.settings.push({
                    'recommendations': {
                        'placements': {
                            'WOM1': {
                                "headerText": "",
                                "headerLink": "\n\n\n\u003ca href=\"recommendations?origin=HP\" title=\"SHOP RECOMMENDATIONS\"\u003eSHOP RECOMMENDATIONS\u003c/a\u003e",
                                "minRecs": 4,
                                "maxRecs": 4,
                                "layout": "Full Width Medium With Top Ad",
                                "recsPerPage": 4,
                                "groupName": "",
                                "featureFlags": {
                                    "isBasicPriceInfoEnabled": true,
                                    "isBrandTitleEnabled": true,
                                    "isHideHighlightEnabled": true,
                                    "isHideRatingEnabled": true
                                },
                                "recsSource": "Rich Relevance Recs API",
                                "recImage": "\n\n\n\n\u003cimg alt=\"Let\u0026#39;s get Personal. Our recommendations.\" height=\"452\" src=\"http://n.nordstrommedia.com/id/f6ee67f4-bc84-4735-ac93-f7e8230ea944.jpeg?w=940\u0026amp;h=452\" width=\"940\" /\u003e",
                                "recMessage": "SHOP RECOMMENDATIONS",
                                "msgYCoordinate": "372",
                                "productLinkTarget": ""
                            }
                        }
                    }
                });
            })(window);
        </script>
        <section id="recs-placement-WOM1" class="recs-placement hidden"></section>

        <section class="tile no-margin column-entire-width mobile-hidden app-hidden">
            <div class="tile-media" style="left: -560px">

                <img alt="" height="150" src="http://n.nordstrommedia.com/id/0d3856fe-7e4f-4449-adc7-4ade4c9c8e94.png?w=940&amp;h=150" width="940"/>
            </div>

        </section>

        <section class="tile no-margin column-entire-width">
            <div class="tile-media" style="left: -560px">

                <a href="womens-clothing-wear-to-work-shop?campaign=0130workclassicicons2&amp;mcamp=4079&amp;cm_sp=merch-_-multi_0130workclassicicons_4079-_-landingpagewmn_shopall" title="WORKWEAR">

                    <img
                        alt="Work mode, classics recharged."
                        data-mobile-height="631"
                        data-mobile-src="http://n.nordstrommedia.com/id/3cd73ede-cf65-447a-b99b-3f449b3b469f.jpeg?w=640&amp;h=631"
                        data-mobile-width="640"
                        height="635"
                        src="http://n.nordstrommedia.com/id/19a98050-4021-4d7a-b9f5-da51cddde607.jpeg?w=940&amp;h=635"
                        width="940"/></a>
            </div>

            <div class="copy-set style-dark justify-center content-overlay" style="left: 24.29%; top: 96.38%; width: 27.5%;">
                <div class="link-list-wrapper">

                    <ul class="link-list">
                        <li class="">

                            <a href="womens-clothing-wear-to-work-shop?campaign=0130workclassicicons2&amp;mcamp=4079" title="WORKWEAR">WORKWEAR</a>
                        </li>
                        <li class="delimited">

                            <a href="work-mode?campaign=0130workclassicicons2&amp;mcamp=4079&amp;cm_sp=merch-_-multi_0130workclassicicons_4079-_-landingpagewmn_guide" title="OUR GUIDE">OUR GUIDE</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="tile no-margin column-entire-width mobile-hidden app-hidden">
            <div class="tile-media" style="left: -560px">

                <img alt="" height="150" src="http://n.nordstrommedia.com/id/0d3856fe-7e4f-4449-adc7-4ade4c9c8e94.png?w=940&amp;h=150" width="940"/>
            </div>

        </section>

        <section class="tile no-margin column-entire-width">
            <div class="tile-media" style="left: -1370px">

                <a href="nordstrom-spring-campaign?campaign=0206Springv1&amp;mcamp=4092&amp;cm_sp=corp-_-corp_0815FallBrand_3783-_-landingpagewmnP01_info" title="EXPLORE">

                    <img
                        alt="Our new spring campaign, shot by Petra Collins."
                        data-mobile-height="594"
                        data-mobile-src="http://n.nordstrommedia.com/id/97077e80-3d7b-419f-b2bf-5327c80edcee.jpeg?w=640&amp;h=594"
                        data-mobile-width="640"
                        height="695"
                        src="http://n.nordstrommedia.com/id/a840c890-51e5-4ceb-a5a9-b365bcdc2651.jpeg?w=2560&amp;h=695"
                        width="2560"/></a>
            </div>

            <div class="copy-set style-light justify-center content-overlay" style="left: 20.5%; top: 40.86%; width: 36%;">
                <div class="link-list-wrapper">

                    <ul class="link-list">
                        <li class="">

                            <a href="nordstrom-spring-campaign?campaign=0206Springv1&amp;mcamp=4092&amp;cm_sp=corp-_-corp_0815FallBrand_3783-_-landingpagewmnP01_info" title="EXPLORE">EXPLORE</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="tile no-margin column-entire-width mobile-hidden app-hidden">
            <div class="tile-media" style="left: -560px">

                <img alt="" height="150" src="http://n.nordstrommedia.com/id/0d3856fe-7e4f-4449-adc7-4ade4c9c8e94.png?w=940&amp;h=150" width="940"/>
            </div>

        </section>
        <div class="row-wrapper">

            <section class="blog json-feed hidden row-12 mobile-hidden" data-blog-url="http://blogs.nordstrom.com/fashion/">

                <div class="blog-image column-3">
                    <a href="http://blogs.nordstrom.com/fashion/" manual_cm_sp="blog-_-thread-_-womenslandingpage">

                        <img alt="Read The Thread blog" class="hidden" height="131" src="http://n.nordstrommedia.com/id/b93ffd7b-64fc-4d67-bbe0-40215ad7e4d9.jpeg?w=175&amp;h=131" width="175"/></a>
                </div>

                <div class="blog-teaser">
                    <div class="blog-header" data-title-trim="75">
                        <a href="http://blogs.nordstrom.com/fashion/" manual_cm_sp="blog-_-thread-_-womenslandingpage">

                            <img alt="" class="blog-badge" height="45" src="http://n.nordstrommedia.com/id/5450ac46-3e54-4211-b109-4592699a2b91.png?w=183&amp;h=45" width="183"/></a>
                        <h2>
                            <a class="blog-headline" href="http://blogs.nordstrom.com/fashion/" manual_cm_sp="blog-_-thread-_-womenslandingpage">The Thread</a>
                        </h2>
                    </div>
                    <div class="blog-copy" data-body-trim="290">
                        <p>Our most of-the-moment intel: Fashion Office reports, designer interviews, outfit inspo, street style and more.</p>
                    </div>
                    <div class="blog-link">
                        <a href="http://blogs.nordstrom.com/fashion/" manual_cm_sp="blog-_-thread-_-womenslandingpage">READ MORE</a>
                    </div>

                </div>
            </section>
        </div>

    </div>
</div>
