
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>

                  Copyright&copy;2017 All Rights Reserved.
                  Design with <span class="fa fa-heart"></span> by
                  <a href="https://github.com/yammmy/beautys" target="_blank">
                    <span>DLJ</span>
                  </a>
                </p> <br>
                <div class="social-icons">
                    <ul>
                        <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                        <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                        <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
