
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>

                  Copyright&copy;2017 All Rights Reserved.
                  Design with <span class="fa fa-heart"></span> by
                  <a href="https://github.com/yammmy/beautys" target="_blank">
                    <span>DLJ</span>
                  </a>
                </p> <br>
              
            </div>
        </div>
    </div>
</footer>
